/bootstrap/compiled.php
/app/controllers/Server.php
/vendor
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db
*.class
*.pyc
*.pyo
/app/config/jake_local
public/nfo.php
/public/server_config
/public/nfo.php
/.htaccess
/*.sql
public/img/users/
public/bar_codes/*.png
public/uploads/
LLR.pem
LLR.ppk
public/nfo.php
app/models/User_OLD.php
node_modules
npm-debug.log
.vagrant
