/* REFERENCE */
/*
#013863 - Dark Blue
#003d98 - Lighter Blue
#fc5001 - Dark Orange
#feb451 - Light Orange
*/

/* main-header */
html, body { overflow-x: hidden; }
#logo { position:relative; top:-2px; }

/* layout */
body { position:absolute; top:0; right:0; bottom:0; left:0; }
#main { display:table; height:100%; width:100%; }
#content { display:table-cell; padding:40px; }
#content h1:first-of-type { margin-top:0; }

/* sidebar */
#sidebar { display:table-cell; background:#013863; width:205px; vertical-align:top; }
body.layout-default #main-menu > a:first-child { border-top-left-radius:0; border-top-right-radius:0; }
#main-menu a { background:rgb(32,32,32) !important; color:gray; border:1px solid black; }
#main-menu a:hover { background:rgb(64,64,64) !important; color:white; }
#main-menu a.active { background:#fc5001 !important; color:white; }

/* layouts */
.layout-centered { padding-top:70px; }
.layout-default { padding-top:50px !important; }
.layout-default #top-right-menu { margin-right:0; }
.layout-gray { padding-top:50px; background:rgb(235,235,235) !important; }
.layout-gray #container { box-shadow:0 0 5px rgba(0,0,0,.25); background:white; margin-top:-30px; padding:65px 40px 40px 40px; margin-bottom:20px; }


/* main content */

/* main footer */
footer { text-align:center; color:gray; font-size:8pt; }

/* global classes */
.align-left { text-align:left; }
.align-right { text-align:right; }
.align-center { text-align:center; }
.auto { width:auto; }
.full { width:100%; }
.full-image { max-width:100% }
.inline-block { display:inline-block !important; }
.width-auto { width:auto; }
.tiny { font-size:7pt; display:block; }
.clear { clear:both; }
.margin-top-1 { margin-top:.25em; }
.margin-top-2 { margin-top:.5em; }
.margin-right-1 { margin-right:.5em; }
.margin-right-2 { margin-right:1em; }
.itemsPerPage { max-width:80px; }
.display-table { display:table; }
.display-table-cell { display:table-cell; }
.no-top { margin-top:0; }
.no-bottom { margin-bottom:0; }
.currentPage { position:relative; top:7px; }
.page-actions { margin:0 0 1em; }
.breadcrumbs { display:block; margin-bottom:1em; }
.link { cursor:pointer; color:#003d98 !important; }
.link:hover { text-decoration:underline !important; }
.highlight { background:rgb(255,255,192) !important; }
.full { width:100%; }
.center { text-align:center; }
.boolean { text-align:center; border-left:1px solid rgba(0,0,0,.1); }
td.border { border-right:1px solid rgba(0,0,0,.1); }
.no-bullets { list-style:none; }
.date-col { width:150px; }
small { opacity:.5; font-size:9pt; }
.user-banner-container { position:relative; padding:0; }
.user-banner { width:100%; }
.user-banner-container .avatar { position:relative; z-index:1; margin-top:-170px; margin-left:30px; border:10px solid white; border-radius:4px; box-shadow:1px 1px 3px rgba(0,0,0,.25) inset, 1px 1px 3px rgba(0,0,0,.25); }
.user-banner-container h1 { margin:0; text-shadow:0 2px rgba(0,0,0,.25); }
.user-banner-text { position:absolute; left:0; right:0; bottom:30px; background:rgba(1,56,99,.75); color:white; }
.user-banner-content { padding:20px 20px 20px 255px; text-shadow:0 1px rgba(0,0,0,.25); }
.user-banner-content small { opacity:1; }
.overflow-hidden { overflow:hidden; }
.align-right { text-align:right; }
.big { font-size:1.25em; }
.no-padding { padding:0; }s
.nostyle { background:inherit !important; border:inherit !important; padding:inherit !important; border:inherit !important; }
.downline-popover th { text-align:right; padding-right:.5em; }
.no-width { width:0; }
i { width:16px; } /* standardizes font awesome icons */
.semitransparent { opacity:.5; }
.footer-links { text-decoration:none; padding:0; text-align:center; }
.footer-links li { display:inline-block; margin:0 1em; }
.tiles { padding:0; list-style:none; text-align:center; }
.tiles li { vertical-align:top; display:inline-block; position:relative; margin:0 3px 10px 0; }
.tiles li img { max-width:300px; max-height:150px; cursor:pointer; }
.tiles li .file { padding:30px 10px 10px; cursor:pointer; box-sizing: border-box; width:150px; height:150px; background:white; box-shadow:1px 1px 8px rgba(0,0,0,.2); } 
.tiles li .file i { font-size:50px; position:relative; margin-left:-20px; }
.tiles li .file-title { font-size:10pt; max-width:130px; word-wrap:break-word; margin-top:8px; background:rgb(235,235,235); padding:5px 10px; border-radius:4px; display:inline-block; }
.tiles li .options { z-index:1; position:absolute; top:0; right:0; left:0; background:rgba(0,0,0,.5); padding:10px 15px; text-align:right; }
.tiles li .owner { z-index:1; position:absolute; bottom:0; right:0; left:0; background:rgba(0,0,0,.5); padding:10px 15px; text-align:left; }
.tiles li .options a, .tiles li .options span, .tiles li .owner a, .tiles li .options .link { color:white !important; cursor:pointer; }
.tiles li .options a i, .tiles li .options span i, .tiles li .options form button { width:24px; text-align:center; }
.thumb { width:50px; }
.tag-list .label { margin:0 4px 4px 0; }
.tag-list .label a { color:white !important; }
.form-link { padding:0 !important; background:none !important; border:0 !important; color:white !important; }

/* tinmce overrides */
.mceu_44-inp-hack { width:207px !important; border-top-left-radius:0 !important; border-bottom-left-radius:0 !important; }

/* bootstrap overrides */
body a { color:#003d98; }
body a:hover { color:#003d98; }
.btn { vertical-align:top; }
.input-group .bootstrap-select .selectpicker { border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important; }
.bs-callout { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #eee; border-image: none; border-radius: 3px; border-style: solid; border-width: 1px 1px 1px 5px; margin: 20px 0; padding: 20px; }
.bs-callout h4 { margin-bottom: 5px; margin-top: 0; }
.bs-callout p:last-child { margin-bottom: 0 }
.bs-callout code { border-radius: 3px }
.bs-callout + .bs-callout { margin-top: -5px }
.bs-callout-danger { border-left-color: #d9534f }
.bs-callout-danger h4 { color: #d9534f }
.bs-callout-warning { border-left-color: #f0ad4e }
.bs-callout-warning h4 { color: #f0ad4e }
.bs-callout-info { border-left-color: #5bc0de }
.bs-callout-info h4 { color: #5bc0de }
.show .col > .table, .edit .col > .table { width:auto !important; }
/*.create form, .edit form { display:inline-block; }*/
.panel table { width:100%; }
.panel table tbody th { text-align:left; }
.panel-default .panel-heading { background:#013863 !important; color:white; }
.panel-default .panel-heading a:hover { color:white !important; opacity:.75; }
.btn-group > form { display:inline-block; }
#record-options > form:nth-of-type(1) > .btn { border-radius:0 !important; margin:0 !important; border-right:0 !important; border-left:0 !important; }
#communication-options > form:nth-of-type(1) > .btn { border-top-right-radius:0 !important; border-bottom-right-radius:0 !important; border-right:0 !important; }
.btn-group > form:last-of-type > .btn { border-top-left-radius:0 !important; border-bottom-left-radius:0 !important; position:relative; left:-4px; }
.navbar-inverse { background:#013863 !important; background-repeat: repeat-x; }
#main-menu .popover { background:#202020; box-shadow:none; }
#main-menu .popover.right > .arrow:after { border-right-color:#202020; color:#202020; }
#main-menu .popover a { border:none; display:block; margin-bottom:.5em; }
#main-menu .popover a:last-child { margin-bottom:0; }
#main-menu .popover a:hover { background:none !important; text-decoration:none; }
.label .fa-times { cursor:pointer;  }
.table tbody th { text-align:right; }
.navbar-inverse .dropdown-menu { background:#202020; }
.navbar-inverse .dropdown-menu a { color:rgb(150,150,150) !important; }
.navbar-inverse .dropdown-menu a:hover { color:white !important; background:none !important; }
.btn { font-family:Arial, Helvetica, sans-serif !important; font-weight:bold !important; }
.btn-primary { border:0 !important; border-radius:0 !important; background:#fc5001 !important; }
.pagination > .active > a { background:#fc5001 !important; border-color:#fc5001 !important; }
.pagination > li > a { color:#fc5001; }

/* jquery-ui overrides */
select.ui-datepicker-year, select.ui-datepicker-month { color:black; font-weight:100; }
.ui-timepicker-div { padding:10px 10px 0; }
.ui-timepicker-div select { padding:5px; }
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-rtl { direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
.ui_tpicker_time_label, .ui_tpicker_time { display:none; }
.ui-timepicker-div select { margin-bottom:0; }

/* froala overrides */
.froala-editor.f-basic { border:0 !important; }
.froala-element textarea { height:370px !important; }

/* media queries*/
@media(max-width:767px) {
    .hidable-xs { display:none; }
    .date-col { width:auto; }
    .user-banner-container { position:relative !important; }
    .user-banner { display:none; }
    .user-banner-container .avatar { width:102px !important; height:102px !important; position:absolute !important; top:0 !important; left:0 !important; margin:0 !important; z-index:10; }
    .user-banner-text {  }
    .user-banner-content { padding:20px 20px 20px 125px; }
    .user-banner-content small { display:block; margin-bottom:1em; }
    .user-banner-content h1 { font-size:18pt; }
    .layout-gray #container { padding:40px 20px 20px 20px !important; }
    .no-pull-xs { float:none !important; }
    .page-actions-left { margin-bottom:1em !important; }
}
@media(max-width:991px) {
    .hidable-sm { display:none; }
    #sidebar { width:40px; }
    #content { padding:20px; }
    #main-menu { text-align:center; }
    #main-menu .text { display:none; }
    .user-banner-text { position:static; background:#303030; }
    .user-banner-container .avatar { width:150px; height:150px; border:5px solid white; }
}
@media(max-width:1199px) {
    .hidable-md { display:none; }
}
@media(min-width:1200px) {
    
}