/* html */
form { display:inline-block; }

/* main-header */
html, body { overflow-x: hidden; }
#logo { position:relative; top:-7px; }

/* body */
body { padding-top: 70px; }

/* main footer */
footer { padding: 30px 0; }

/* global classes */
.auto { width:auto; }
.full { width:100%; }
.inline-block { display:inline-block; }
.tiny { font-size:7pt; display:block; }
.clear { clear:both; }
.margin-right-1 { margin-right:.5em; }
.margin-right-2 { margin-right:1em; }
.itemsPerPage { max-width:80px; }
.display-table { display:table; }
.display-table-cell { display:table-cell; }
.no-top { margin-top:0; }
.no-bottom { margin-top:0; }
.currentPage { position:relative; top:7px; }

/* bootstrap overrides */
.btn { vertical-align:top; }
.input-group .bootstrap-select .selectpicker {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.table { width:auto; }
.panel table { width:100%; }
.ui-datepicker-year, .ui-datepicker-month { color:black; font-weight:100; }
.btn-group > form:nth-of-type(1) > .btn { border-radius:0 !important; margin:0 !important; }
.btn-group > form:last-of-type > .btn { border-top-left-radius:0 !important; border-bottom-left-radius:0 !important; position:relative; left:-4px; }

/* global classes */
.full { width:100%; }